.card-list {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-block: 30px;
  color: #fefefe;
  gap: 15px;
}

.card {
  display: flex;
  width: 400px;
  height: 200px;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  
}

.card-image {
  width: 100px;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.card-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 15px;
}

.card-content h2 {
  margin: 0;
  font-size: 18px;
}

.card-content p {
  font-size: 14px;
  margin: 10px 0;
}

.card-content button {
  padding: 13px 10px;
  background-color: #fff;
  color: #565756;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 120px;
  font-size: 12px;

  &:hover {
    background: black;
    color: #fff;
  }
}

.card-red {
  background-color: #9ba89e;
}

.card-blue {
  background-color: #d39e76;
}

.card-green {
  background-color: #a7a29c;
}

.special {
  width: 80%;
  margin: 40px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    padding: 13px 10px;
    background-color: #274c4f;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 90px;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    align-items: center;

    &:hover {
      background-color: #416265;
    }
  }

  h2 {
    font-weight: 600;
  }
  p {
    font-size: 14px;
  }
}

.luxurious-container {
  width: 80%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .luxurious-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h1 {
      width: 70%;
      font-weight: 700;
      line-height: 40px;
    }
    p {
      font-size: 14px;
      margin-block: 30px;
      width: 65%;
    }

    button {
      padding: 13px 10px;
      background-color: #274c4f;
      color: #fff;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      width: 120px;
      font-size: 12px;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .luxurious-right {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 20px;
    .img1 {
      width: 280px;
      height: 400px;
      border-radius: 30px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .img2 {
      width: 150px;
      height: 400px;
      border-radius: 30px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .img3 {
      width: 150px;
      height: 400px;
      border-radius: 30px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 1115px) and (min-width: 860px) {
  .card-list {
    width: 90%;

    .card {
      display: flex;
      flex-direction: column;
      text-align: left;
      width: 280px;
      height: 380px;
    }

    .card-image {
      width: 100%;
      height: 150px;
      object-fit: cover;
      border-radius: 12px;
    }

    .card-content {
      padding: 0;
      justify-content: center;
      align-items: flex-start;
      margin-left: 0;
      margin-top: 20px;
      gap: 20px;
    }
    .card-content button {
      padding: 16px 11px;
      width: 130px;
    }
  }

  .special {
    width: 90%;
    margin: 40px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      padding: 15px 10px;
      width: 120px;
      justify-content: center;
    }
    p {
      display: none;
    }
  }

  .luxurious-container {
    width: 90%;
    flex-direction: column;

    .luxurious-left {
      width: 100%;
      align-items: center;

      h1 {
        width: 100%;
        font-size: 20px;
        text-align: center;
      }
      p {
        width: 50%;
        text-align: center;
      }
      button {
        padding: 16px 10px;
        width: 130px;
        margin-bottom: 30px;
      }
    }

    .luxurious-right {
      width: 100%;
      .img1 {
        width: 400px;
        height: 600px;
        border-radius: 30px;
        overflow: hidden;
      }
      .img2 ,.img3 {
        width: 280px;
        height: 600px;
        border-radius: 30px;
        overflow: hidden;
      }

    }
  }
}
