.header {
  position: relative;
  width: 100%;
  background: #fff;

  .header__sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    padding: 15px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  }

  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 1rem;
    padding: 0 50px;
  }

  .header__logo {
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: #152420;

    svg {
      margin-right: 10px;
      font-size: 24px;
    }
  }

  .search-box {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 5px 15px;
    flex: 1;
    max-width: 400px;

    input {
      flex: 1;
      border: none;
      outline: none;
      padding: 5px 10px;
    }

    svg {
      color: gray;
      cursor: pointer;
    }
  }

  .header__menu {
    display: flex;
    gap: 25px;

    a {
      text-decoration: none;
      color: #333;
      font-weight: 500;
      transition: 0.3s ease;

      &:hover {
        color: #152420;
      }
    }
  }

  .header__icons {
    display: flex;
    gap: 15px;

    .icon {
      font-size: 1.2rem;
      color: #444;
      cursor: pointer;
      transition: color 0.3s;

      &:hover {
        color: #152420;
      }
    }
  }

  .mobile-toggle {
    display: none;
    font-size: 1.8rem;
    color: #152420;
    cursor: pointer;
  }

  .mobile-nav-panel {
    position: fixed;
    top: 0;
    right: -100%;
    width: 250px;
    height: 100vh;
    background-color: #fff;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 20px;
    transition: right 0.3s ease-in-out;
    z-index: 1000;

    &.active {
      right: 0;
    }

    .close-btn {
      align-self: flex-end;
      font-size: 1.5rem;
      cursor: pointer;
      margin-bottom: 20px;
    }

    a {
      padding: 10px 0;
      text-decoration: none;
      color: #152420;
      font-weight: 500;

      &:hover {
        background-color: #f3f3f3;
      }
    }
  }
}

// ✅ TABLET: 860px - 1060px
@media (min-width: 860px) and (max-width: 1060px) {
  .header {
    .header__menu,
    // .header__icons:nth-child(1) {
    //   visibility: hidden;
    // }
  
    // .header__icons:nth-child(2) {
    //   visibility: hidden;

    // }

    .mobile-toggle {
      display: block;
    }

    .search-box {
      flex: 1 1 100%;
      margin-top: 10px;
    }
  }
}

// ✅ MOBİL: 340px - 859px
@media (min-width: 340px) and (max-width: 859px) {
  .header {
    .header__menu,
    .header__icons {
      display: none;
    }

    .mobile-toggle {
      display: block;
    }

    .header__container {
      flex-direction: column;
      align-items: flex-start;

      .search-box {
        width: 100%;
        margin-top: 10px;
      }
    }
  }
}
